<?xml version="1.0"?>

<model>
  <name>aisles plus non aisles</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>kartik prakash</name>
    <email>kartikprakash3775@gmail.com</email>
  </author>

  <description>
    aisles plus non aisles environment
  </description>

</model>
